* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Ensure full width and prevent horizontal scroll */
html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}  /* please use this for every css file */